h1{
    font-family: 'Special Elite', cursive;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.filmbook {
    height: 160px;
    width: 160px;
}

button {
    padding: 10px;
    background-color: white;
    border-radius: 10%;
    margin: 0vw 5vw;
    font-size: 1.5rem;
}


.logoHeader {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    flex-direction: column;
}

.apiButtons{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.sectionHeader {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    background-color:#FDC500;
}

.bookshelf {
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.bookSpine {
    width: 36px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
}

.bookSmall {
    font-size: 13px;
    height: 150px;
}

.bookSmallLeaning {

}

.bookMedium {
    font-size: 11px;
    height: 175px;
}

.bookMediumLeaning {

}

.bookLarge {
    font-size: 9px;
    height: 200px;
}

.bookLargeLeaning {

}

.bookCover {
    transform: skew(0deg, -70deg);
    width: 10%;
    height: 100%;
}

.bookTitle {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookAuthor {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookShell {
    /* position: absolute;
    top: 0;
    left: 0; */
}

.bookTotalSmall {
    position: relative;
    height: 165px;
    width: 45px;
}

.bookTotalMedium {
    position: relative;
    height: 190px;
    width: 45px;
}

.bookTotalLarge {
    position: relative;
    height: 215px;
    width: 45px;
}
