h1{
    font-family: 'Special Elite', cursive;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.filmbook {
    height: 160px;
    width: 160px;
}

button {
    padding: 10px;
    background-color: white;
    border-radius: 10%;
    margin: 0vw 5vw;
    font-size: 1.5rem;
}


.logoHeader {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    flex-direction: column;
}

.apiButtons{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.sectionHeader {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    background-color:#FDC500;
}

.bookshelf {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
}


/* Normal Book properties */

.bookSpine {
    width: 36px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
}

.bookSmall {
    font-size: 13px;
    height: 150px;
}

.bookMedium {
    font-size: 11px;
    height: 175px;
}

.bookLarge {
    font-size: 9px;
    height: 200px;
}

.bookTitle {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookAuthor {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookTotalSmall {
    position: relative;
    height: 165px;
    width: 45px;
    z-index: 2;
}

.bookTotalMedium {
    position: relative;
    height: 190px;
    width: 45px;
    z-index: 2;
}

.bookTotalLarge {
    position: relative;
    height: 215px;
    width: 45px;
    z-index: 2;
}

/* Leaning Book properties */

.bookSpineLeaning {
    width: 36px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 5px;
    left: 19px;
    transform: rotate(14.79deg);
}

.bookSmallLeaning {
    font-size: 13px;
    height: 150px;
}

.bookMediumLeaning {
    font-size: 11px;
    height: 175px;
}

.bookLargeLeaning {
    font-size: 9px;
    height: 200px;
}

.bookTitleLeaning {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookAuthorLeaning {
    writing-mode: vertical-rl;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 10%;
}

.bookTotalSmallLeaning {
    position: relative;
    bottom: -3px;
    height: 172px;
    width: 86px;
    justify-content: center;
    z-index: 1;
    margin-right: -10px;
}

.bookTotalMediumLeaning {
    position: relative;
    height: 196px;
    width: 93px;
    justify-content: center;
    z-index: 1;
    margin-right: -10px;
}

.bookTotalLargeLeaning {
    position: relative;
    height: 220px;
    width: 99px;
    justify-content: center;
    z-index: 1;
    margin-right: -10px;
}

.bookColour {
    fill: #02142b; 
}
